/* Styles go here */

.collHeader {
    max-height: 78px;
}

.leftHeader {
    background-color: #4876FF;
    color: white;
    font-weight: bold;
    height: 90px;
    margin-left: -26%;
    margin-top: -27%;
    position: relative;
    text-align: center;
    width: 100%;
}

.leftHeader span {
    position: relative;
    top: 30%;
}

 .invalidStep {
        border: 1px solid #a94442;
        box-shadow: 1px 2px 31px #a94442;
    }
