<ion-header>
    <ion-toolbar>
       <ion-title>
          Africalang
       </ion-title>
    </ion-toolbar>
    
 </ion-header>
 <ion-content>
    <div class="ion-padding">
       <!-- Disabled and readonly textarea in an item with a stacked label -->
       <ion-item>
          <ion-select interface="popover" 
          okText="Okay" 
          cancelText="Dismiss"
          (ionChange)= "languageFrom(from.from_lang)"
          [(ngModel)] ="from.from_lang" >
             <ion-select-option value="french">French</ion-select-option >
             <ion-select-option value="english" disabled>English</ion-select-option >
          </ion-select>
       </ion-item>
       <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-textarea
          [(ngModel)] ="from.sentence"
             rows="4">
          </ion-textarea>
       </ion-item>
    </div>
    <div align="center">
       <ion-button (click) ="translate()">translate</ion-button>
    </div>
    <div class="ion-padding">
       <ion-item>
          <ion-select interface="popover"
          okText="Okay" cancelText="Dismiss" 
          [(ngModel)] ="from.target_lang"
          (ionChange)= "languageTo(from.target_lang)">
             <ion-select-option value="swahili">Swahili</ion-select-option>
             <ion-select-option value="lingala">Lingala</ion-select-option>
          </ion-select>
       </ion-item>
       <ion-item>
          <ion-label align="center" position="stacked">
            Proposed translation
          </ion-label>
          <ion-textarea
          [(ngModel)]="translationResult.translated"
             readonly
             rows="3">
          <ion-button class="ion-float-right" color="warning" (click) ="reportTranslation()">report
            <ion-icon name="warning"></ion-icon>
          </ion-button>
          </ion-textarea>
       </ion-item>
    </div>
    <div >
      
       <ion-item>
          <mat-expansion-panel style='width:100%'>
            <mat-expansion-panel-header>
              <mat-panel-title>
                SAMPLE SENTENCES
              </mat-panel-title>
              <mat-panel-description>
         
              </mat-panel-description>
            </mat-expansion-panel-header>
              <div class="container" style='width:100%'>
                <div  style='width:100%' class="scroll" scrollY="true" [innerHTML]="searchResult.samples" >
                </div>
              </div>
          </mat-expansion-panel>
       </ion-item>
    </div>
 </ion-content>
